#at-types-container {
    position:fixed;
    top: 10px;
    right: 10px;
}

.at-drop-bay {
    min-height: 50px;
    background-color: aliceblue;
    padding: 20px;
}

#at-tests-container {
    width: 1000px;
}

.at-see {
    border: 1px solid;
    padding: 10px;
}

.expect, .see {
    display: inline-block;
}
.expect input{
    text-transform: capitalize;
}