#at-types-container {
    position:fixed;
    top: 10px;
    right: 10px;
}

.at-drop-bay {
    min-height: 50px;
    background-color: #f9f9f9;
    padding: 20px;
}

#at-tests-container {
    width: 1000px;
}

.at-see, .at-click, .at-page, .at-see-element {
    border: 1px solid;
    border-style: dotted;
    padding: 5px;
}

.expect, .see, .single-at-url, .single-at-group, .click, .page, .single-at-desc, .see-element {
    display: inline-block;
    padding: 5px;
}

.expect input, .single-at-desc input, #at-desc{
    text-transform: capitalize;
}

.at-single {
    background-color: #c4cbcc;
    padding: 5px;
    margin: 10px 5px;
}

.x-btn {
    cursor: pointer;
    margin-left: 20px;
}

#at-function-add, #at-draggable-types {
    padding: 10px;
}

#at-draggable-types button {
    margin: 2px;
}

#at-class-name {
    text-align:right;
    text-transform: capitalize;
}

.dragged-over {
    border: 3px dashed #1c84ff;
}

#at-tool-info {
    font-family: monospace;
    font-size: 20px;
    text-decoration: underline;
}